*.rbc
capybara-*.html
.rspec
/log
/tmp
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
.npm

# Secret will not be stored on github
config/initializers/secret_token.rb
config/secrets.yml

# Environment variables will not be stored on github
.env

## Environment normalization:
/.bundle
/vendor/bundle

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

*.bowerrc
bower.json

# Ignore pow environment settings
.powenv

# Compiled from client
app/assets/javascripts/bundle*
app/assets/javascripts/vendor.bundle*
public/index.html
